body{
    margin: 0;
    background: #efcd01;
}

ul>li{
    list-style: none;
}
#wrapper{
    margin-left: 5%;
    margin-right: 5%;
}

.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
}

#content-container{

}

.owner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
    
}
.name{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 135px;
    
    
}
.master{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 45px;
    margin: 0;
}
.clan{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 45px;
    margin: 0;
}
.picture{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 135px;
}
img{
    width: 135px;
    height: auto;
}


.blank{
    height: 45px;
    border-bottom: 1px solid black;
}

.content-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    color: red;
    height: 45px;
}

.main-content{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 45px;
    transition: all 200ms ease;
    overflow: hidden;
    
}
.content:hover{
    background: orange;
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 15px;
}
ul:hover{
    transform: scale(1.03);
    
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: 100%;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.number{
    color: red;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    border-top: 1px solid black;
}

